<header>
		<div class="contianer">
			<div class="logo"><img src="svg/logo.svg" alt=""></div>
		</div>
	</header>
	<div class="intro-content">
		<div class="container">
			<form action="/create" method="POST">
				<div class="form-content">
					<h1>Регистрация на Maizer</h1>
					<br>
					{{#if error}}
						<span>{{error}}</span>
					{{/if}}
					<div class="login-fields">
						<input type="text" name="name" id="name" placeholder="Имя">
						<input type="text" name="login" id="login" placeholder="Телефон или email">
						<input type="password" name="password" id="password" placeholder="Пароль">
						<input type="password" name="repasword" id="repasword" placeholder="Повторите пароль">
					</div>
					<span class="gender">Ваш пол:</span>
					<div class="checkboxes">
						<input type="radio" name="gender" id="female-check" value="female">
						<label for="female-check">Женский</label>
						<input type="radio" name="gender" id="men-check" value="male">
						<label for="men-check">Мужской</label>
					</div>
					<div class="reg-btn">
						<button type="submit">Регистрация</button>
					</div>
					<div class="note">
						<span>Уже зарегестрированы?</span> <a href="/auth">Войти</a>
					</div>
				</div>
			</form>
		</div>
	</div>